/* background behind the logo*/
#header {
    background: <color>;
    border-color: <color>;
}

#header-wrapper {
    background: #0e5e99; /*8451a1 */
    border-bottom: 4px solid #235093; /*9c6fb6 */
}
/* Background color of the menu */
#sidebar {
  background-color: #152A38;
}

/* Background color of the menu, when clicked */
#sidebar ul.topics > li.parent, #sidebar ul.topics > li.active {
  background-color: <color>;
}

/* Color of all links, including arrows to get to previous and next pages */
a {
    color: <color>;
}
a:hover {
   color: <color>;
}