 table.main {}
 tr.row {}
 td.cell {}
 div.block {}
 div.paragraph {}
 .font0 { font:16pt Consolas, monospace; }
 .font1 { font:11pt Microsoft Sans Serif, sans-serif; }
 .font2 { font:7pt Times New Roman, serif; }
 .font3 { font:8pt Times New Roman, serif; }
 .font4 { font:10pt Times New Roman, serif; }
 .font5 { font:11pt Times New Roman, serif; }
 .font6 { font:12pt Times New Roman, serif; }
 .font7 { font:36pt Times New Roman, serif; }
