

.auth-block{
  margin: 0 15px 40px 15px
}
.auth-block-recover{
  float: right;
  font-size: 12px;
  position: relative;
  top: 2px;
}
.auth-block-recover a{
  display: inline-block;
  color: #336666;
  text-decoration: none;
  line-height: 1.1;
}
.auth-block-recover a:hover{
  color: #000;
  border-bottom: 1px dotted #336666;
}
.auth-block-signup{
  float: right;
  padding: 7px 0 0 0;
  font-size: 14px;
  text-transform: uppercase;
}
.auth-block-signup a{
  display: inline-block;
  color: #666;
  text-decoration: none;
  border-bottom: 1px dotted #999;
  line-height: 1.2;
  font-weight: bold;
}
.auth-block-signup a:hover{
  color: #000;
}
.auth-block-success{
  text-align: center;
  color: #336666;
}


.office-block{
  margin: 0 15px 20px 15px;
}
.office-block-signout{
  display: inline-block;
  font-size: 12px;
}
.office-block-signout a{
  color: #666;
  text-decoration: none;
}
.office-block-signout a:hover{
  color: #333;
}
.office-block-user{
  display: inline-block;
  font-weight: bold;
  margin-right: 7px;
}


.arcticmodal-overlay,
.arcticmodal-container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
}
.arcticmodal-container {
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  border: 0;
  border-collapse: collapse;
}
*:first-child + html .arcticmodal-container {
  height: 100%;
}
.arcticmodal-container_i {
  height: 100%;
  margin: 0 auto;
}
.arcticmodal-container_i2 {
  padding: 24px;
  margin: 0;
  border: 0;
  vertical-align: middle;
}
.arcticmodal-error {
  padding: 20px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #000;
  color: #fff;
}
.arcticmodal-loading {
  width: 80px;
  height: 80px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #000 url("loading.gif") no-repeat 50% 50%;
}
.arcticmodal-overlay {
  background-color: #000 !important;
  opacity: 0.41 !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=41)" !important;
  filter: alpha(opacity=41) !important;
}
.modal-box {
  position: relative;
  display: none;
  padding: 30px 40px 40px 40px;
  background-color: #fff;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 40px rgba(0,0,0,0.31);
  box-shadow: 0 0 40px rgba(0,0,0,0.31);
  overflow: hidden;
  min-width: 350px;
}
.modal-box-buttons {
  margin-top: 20px;
}
.modal-box.modal-box-message {
  width: 310px;
  padding: 20px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.modal-box-buttons--center {
  text-align: center;
}
.modal-box.video-modal-box {
  width: 480px;
}
.modal-box.modal-box-short-form {
  width: 460px;
  padding: 32px 50px 50px;
}
.modal-box-success{
  color: #336666;
  font-size: 16px;
  text-align: center;
}
.arcticmodal-container .modal-box {
  display: block;
}
.modal-box-title {
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  margin-bottom: 40px;
  margin-top: -40px;
}
.modal-box-close {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 14px;
  height: 14px;
  background: url("/images/cross.png") 0 0 no-repeat;
  cursor: pointer;
}
.modal-template {
  display: none;
}
.modal-box.modal-box-media-editor {
  padding: 50px 40px 40px 40px;
  width: 460px;
}
.modal-box.modal-box-media-editor .modal-box-close {
  top: 12px;
  right: 12px;
}
.modal-box.modal-box-message .modal-box-tabled {
  display: table;
  height: 80px;
  width: 100%;
}
.modal-box.modal-box-message .modal-box-tabled-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.modal-box.modal-box-message .modal-box-tabled-cell-body {
  display: inline-block;
  text-align: left;
  line-height: 1.25;
}
.modal-box.modal-box-message .modal-box-close {
  top: 17px;
  right: 17px;
  width: 14px;
  height: 14px;
  background: url("../images/sprite.png?1417868575463") -116px -50px no-repeat;
}
.modal-templates {
  display: none;
}
